body {
  background: #3E4D64;
}

.aboutSection{    
  text-align: center;
  background: #3E4D64;

}
.vector_profile {
  float: right;
  margin-top: -100px;

}
.aboutBio {
  float: left;
  padding-left: 100px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom:-500px;
  font-family: 'Open Sans', sans-serif;
  color: #CDD3D5;
}

.aboutBio h1{
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 80px;
}
#miniAbout{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.infoSection{ 
  clear: both;
  background: #EDD4B2;  
  padding-bottom: 40px;
}

.infoSection h1{
  font-family: 'Open Sans', sans-serif;
  color: #6B5954;
  text-align: center;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 20px; 
}

#code, #console {
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

#code {
    margin-top: 100px;
    border-radius: 10px;
    width: 750px;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 30px;
    background: #ccc;
    height: auto;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size: 13px;
    color: #F5CB5C;
}

#console {
  background: black;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.experienceSection {
  text-align: center;
  background: #455561;
  
}
.experienceSection h1{
  color: #FFF;
  font-family: 'Roboto';
}




